.title {
  text-align: center;
  margin-top: 20px;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 30px;
}

.book-card {
  width: 230px;
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  color: blue;
  font-weight: bold;
}

.wishlist {
  background: blue;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.view {
  background: purple;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}