.navbar {
  height: 58px;
  background: #1a23ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* BUTTONS RIGHT SIDE */

.nav-buttons button {
  margin-left: 12px;
  padding: 4px 14px;
  border: 2px solid #000;
  background: #efefef;
  cursor: pointer;
  font-size: 14px;
}

.nav-buttons button:hover {
  background: white;
}