.users-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.users-table {
  width: 80%;
  border-collapse: collapse;
  background: #1f2937;
  color: white;
}

.users-table th,
.users-table td {
  padding: 12px;
  border: 1px solid #374151;
  text-align: center;
}

.users-table th {
  background: #111827;
}

.view-btn {
  background: #3b82f6;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}